// Promo Card
//
// This promo card is used to promote content on the site.
//
// :hover - Hover state for the promo card.
//
// Style guide: components.card.promo

@import "styles/common/breakpoints";
@import "styles/common/variables";
@import "styles/common/susy";
@import "styles/common/layout";
@import "styles/common/sprite";
@import "styles/unit/unit-layout-full";
@import "styles/unit/unit-layout-teaser";
@import "styles/unit/unit-layout-promo";
@import "components";
body {
  //background: yellow;
  line-height: 1.4;
}

.slick-wrapper {
  margin-bottom: 0;
}

.slick--thumbnail.slick--skin--asnavfor {
  .slick-track {
     padding-bottom: 0;
     padding-top: 0;
   }

}

.form-type-textfield  {
  input {
    width: 100%;
  }
}

.es-ranger {
  position: relative;
  height: 80px;
  margin: 10px 0;

  &__label {
    font-weight: bold;
  }


  .form-item {
    label {
      display: none;
    }

    &:nth-of-type(1) {
      input {
        left: 0;
      }
    }
    &:nth-of-type(2) {
      background: red;
      input {
        right: 0;
        text-align: right;
      }
    }
  }

  input {
    position: absolute;
    bottom: 0;
    width: 60px;
    padding: 1px 5px 0;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  .ui-slider {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;

    &-handle {
      top: -10px;
      height: 32px;
      width: 14px;
      margin-left: -7px;
      outline: 0;

      //&:nth-of-type(1) {
      //  margin-left: -1px;
      //}
      //&:nth-of-type(2) {
      //  margin-left: -15px;
      //}
    }
  }
}

